/* font family */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* nav bar and header */
nav{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    
}
nav section{
    flex-grow: 1;
    }

nav section input{
    width: 50%;
    height: 30px;
} 

.buttons{
    height: 30px;
}

#logo{
    height: 50px;
    width: auto;
}

/* Page layout */
.thumbs{
    height: 25px;
    width: auto;
}
.avatar{
    height: 75px;
    width: auto;
}

#page_layout{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    border: 3px;
}

/* Main video Section */

#video{
    flex-grow: 2;

  
}

/*LETS LOOK AT THIS TODAY*/

#video iframe{
    width: 840px;
    height: 420px;
    flex-grow: 2;
}

.recom{
    max-width: 100%;
    width: 30%;
}
